.container{
    padding: 30px;
}


.candidate-btn{
    background: #de8560 !important;
    color: #ffffff !important;
}

.image-container{
    width: 135px;
    height: 130px;
    margin-left: 70px;
    -moz-box-shadow:    inset 0 0 10px #cecece;
    -webkit-box-shadow: inset 0 0 10px #cecece;
    box-shadow:         inset 0 0 10px #cecece;
    padding-top: 1px;
}

.image-container img{
    width: inherit;
    height: inherit;
}