.loader-segment{
    position: absolute !important;
    top: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background: rgba(0,0,0,0.2) !important;
    margin-top: 0 !important;
}

.loader-dimmer{
    background-color: unset !important;
}