.sidebar-container{
    padding : 20px
}

.sidebar-header {
   display: flex;
    justify-content: center;
}
.sidebar-list{
    margin-top: 15%;
}

.list{
    color: #fff;
    font-size: 20px;
    padding: 30px 30px 30px 70px;
    text-align: left;
    cursor: pointer;
    font-weight: bold;
    border-bottom: 1px solid #fff;
}