@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.layout-image-container{
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.layout-main{
    background-color: #174F40 !important;
    color:rgba(255, 255, 255, 0.507) !important;
    height: 100vh;
}

.layout-heading{
    font-size: 100px;
    color: #ffffff;
    font-family: 'Merienda', cursive;
    font-weight: 700;
    text-align: center;
}