.form-container{
    margin : 2rem auto;
}

.form-container-main{
    width: 25%;
    margin : 2rem auto;
}

.form-input{
    border-radius: 20px !important;
}

.login-btn{
    width: 100%;
    background-color: #de8560 !important;
    color:#fff !important;
    letter-spacing: 1px !important;
    font-weight: 600 !important;
}