.candidate-container{
    padding: 20px !important;
}

.candidate-card{
    width: min-content !important;
    cursor: pointer;
}

.candidate-card-image {
    width: 180px !important;
}

.candidate-card-image > img{
    height: 180px !important;
    width: 100%;
}