.election-container{
    display: flex;
    padding: 40px;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.election-card-1{
    width: 40%;
    box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12);
    min-height: 500px;
    background: white;
    border-radius: 5px;
    padding: 20px;
}

.election-card-2{
    margin: 20px;
    width: 100%;
    min-height: 400px;
}

.election-voter-image{
    width: 190px;
    display: flex;
    align-items: center;
    height: 120px;
    margin: 0 auto;
    -moz-box-shadow:    inset 0 0 10px #cecece;
    -webkit-box-shadow: inset 0 0 10px #cecece;
    box-shadow:         inset 0 0 10px #cecece;
}

.election-scanner{
    margin: 1rem auto;
    width: 45%;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.072);
    pointer-events: none;
    background: rgba(0,0,0,0.1);
    color: grey;
    cursor: not-allowed;
}

.enable{
    pointer-events: unset;
    color: #174F40;
    opacity: 0.9;
    cursor: pointer;
    background: unset;
}


.election-voter-info{
    margin: 2rem auto;
}

.election-row{
    width:80%;
    display: flex;
    margin: 5px auto;
    justify-content: space-around;
}

.election-key{
    width: 40%;
    padding: 5px;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
}


.election-value{
    width: 40%;
    padding: 5px;
    font-size: 15px;
    font-weight: 700;
    color: #000;
    text-transform: capitalize;
}

.election-card-1 p{
    text-align: center;
    font-size: 20px;
    color: #174F40;
    font-weight: 700;
}

.election-candidate-container{
    padding: 20px !important;
}

.election-candidate-card{
    width: min-content !important;
    margin: 20px !important;
}

.election-candidate-card-image {
    width: 180px !important;
}

.election-candidate-card-image > img{
   height: 180px !important;
}

.election-not-allow{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #174F40;
}

.election-loader{
    overflow: hidden;
}